@model IEnumerable<OnlineShop.Models.Game>

@{
    ViewBag.Title = "QA Games Online Shop";
}

<h2>List of Games</h2>

<table>
    <tr>
            <th></th>
        <th>
            Name
        </th>
        <th>
            Description
        </th>
        <th>
            Unit Price
        </th>
        <th>
            Units In Stock
        </th>


    </tr>

@foreach (var item in Model) {
    <tr>
            <td>
            @Html.ActionLink("Add To Basket", "Add", new { id=item.GameID })
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            £@Html.DisplayFor(modelItem => item.UnitPrice)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UnitsInStock)
        </td>

    </tr>
}

</table>
